<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<context:property-placeholder location="classpath:config.properties"/>
<!--  autowire="byName" -->
<bean id="student" class="com.srivastava.apps.Student">
<property name="courses">
<!-- <list>
<ref bean="c1"/>
<ref bean="c2"/>
</list> -->
<!-- <set>
<ref bean="c1"/>
<ref bean="c2"/>
<ref bean="c3"/>
</set> -->
<map>
<entry key="first">

<ref bean="c1"/>
</entry>
<entry key="second">

<ref bean="c2"/>
</entry>
</map>
</property>
</bean>
<bean id="c1" class="com.srivastava.apps.Course">
<property name="id" value="${id}"/>
<property name="name" value="${name}"/>
<property name="duration" value="${duration}"/>
</bean>
<bean id="c2" class="com.srivastava.apps.Course">
<property name="id" value="2"/>
<property name="name" value="MCA"/>
<property name="duration" value="2"/>
</bean>
<bean id="c3" class="com.srivastava.apps.Course">
<property name="id" value="2"/>
<property name="name" value="MCA"/>
<property name="duration" value="2"/>
</bean>
<bean id="myobject"   class="com.srivastava.apps.C" autowire="byName">
<!--  <property name="x" ref="tempe"/>  -->
<!-- <property name="y">
<bean class="com.srivastava.apps.E">
<property name="id" value="1003"></property>
</bean>
</property> -->
</bean>
<bean id="myobject2"   class="com.srivastava.apps.C"></bean>
 <alias name="e" alias="tempe"/>
 <bean id="e" name="e"  class="com.srivastava.apps.E">
 <property name="id" value="1001"/>
 </bean>
  <bean id="e3"  class="com.srivastava.apps.E">
  <constructor-arg name="id" value="1000" type="int"></constructor-arg>
 <property name="id" value="1002"/>
 </bean> 
 <bean id="x"  class="com.srivastava.apps.E">
  <constructor-arg name="id" value="1000" type="int"></constructor-arg>
  <constructor-arg name="name" value="Ram" type="String"></constructor-arg>
 
 </bean>
</beans>
